<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.minifly.com.demoall">

    <!-- 热修复的时候要的一个权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- listview的粘性处理，但是在该例子中，当没有拖动到设定的那个值时候，不能够弹回去。 -->
        <activity
            android:name=".listview_test.ListViewActivity"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />
        <!-- scrollview 的拖动粘性事件 overdrag -->
        <activity
            android:name=".scrollview_test.ScrollActivity"
            android:launchMode="singleTop" />
        <!-- view 的七种拖动view的方式。 -->
        <activity
            android:name=".pull_moveview_test.PullMoveviewActivity"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />
        <!-- titleview 的设置方式。 -->
        <activity
            android:name=".ui_test.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />

        <!-- canvas 绘图相关 -->
        <activity
            android:name=".canvas_test.ZCanvasActivity"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />

        <!-- canvas 绘图相关 -->
        <activity
            android:name=".rsatest.CanvasActivity"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />
        <!-- 属性动画 -->
        <activity
            android:name=".object_animator_test.ObjectAnimatorTest"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />
        <!-- 属性动画 自定义问题。 -->
        <activity
            android:name=".object_animator_test.ObjectAnimatorOwnTest"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />
        <!-- 属性动画 自定义问题。 -->
        <activity
            android:name=".object_animator_test.ObjectAnimatorOwnColorTest"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />
        <!-- 属性动画 动画集合相关 -->
        <activity
            android:name=".object_animator_test.PropertyValuesHolderAnimatorTest"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />
        <!-- 自定义的动画 -->
        <activity
            android:name=".user_defined_animator.OwnAnimatorActivity"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />
        <!-- 自定义的动画 三维开门的效果 -->
        <activity
            android:name=".user_defined_animator.OwnAnimatorActivity2"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />

        <!-- recycleview的自定义问题 -->
        <activity
            android:name=".recycleview_test.Activity3"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />
        <!-- 属性动画 动画集合相关 -->
        <!-- 布局动画问题 在布局中添加这个设置之后添加view会有逐渐显示的过渡效果 -->
        <activity
            android:name=".layout_animation.LayoutAnimationActivity"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />
        <!-- 布局动画问题 -->
        <!-- 属性动画的值动画 问题 -->
        <activity
            android:name=".object_animator_test.ValueAnimatorTextActivity"
            android:launchMode="singleTop"
            android:theme="@style/DeepTheme" />
        <!-- 属性动画的值动画 问题 -->
        <activity
            android:name=".ActivityAnimation.ActivityAnimation"
            android:theme="@style/DeepTheme" />
        <activity
            android:name=".ActivityAnimation.ActivityAnimation2"
            android:theme="@style/DeepTheme" />
        <!-- 有界波纹与无界波纹 -->
        <activity
            android:name=".RippleShow.MyRippleShowActivity"
            android:theme="@style/DeepTheme" />

        <!-- 刮刮乐效果 -->
        <activity
            android:name=".canvas_test.ZGuagualeActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!-- 时钟效果 -->
        <activity
            android:name=".canvas_test.ZCanvasClockActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!-- sin曲线效果 -->
        <activity
            android:name=".canvas_test.ZCanvasSurfaceSinActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!-- 颜色渐变 -->
        <activity
            android:name=".canvas_test.ZCanvasLinearGraddientActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!-- 绘图版 -->
        <activity
            android:name=".canvas_test.ZCanvasSurfaceDrawBoardActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!-- 图片滚动 -->
        <activity
            android:name=".canvas_test.ZMarqueeImageviewActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!-- 自带view动画 -->
        <activity
            android:name=".object_animator_test.ViewWithAnimatorActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <!-- 主页面 -->
        <activity
            android:name=".desk.DeskActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 隐藏下下面的bar -->
        <activity
            android:name=".gallary_test.GalleryTestActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 工程定制的一个progressbar -->
        <activity
            android:name=".canvas_test.ZCanvasMyCustomizationActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 工作的demo页面 -->
        <activity
            android:name=".project_testhouse.HorizenProgressActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 触摸反馈 starting -->
        <activity
            android:name=".androidl_animation.AndroidLTouchFeedbackActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".androidl_animation.AndroidLCircularRevealActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".androidl_animation.AndroidLZActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <!-- 贝塞尔曲线的购物车动画 starting -->
        <activity
            android:name=".object_animator_test.ObjectAnimatorBezierActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!-- 斜线进度条 带有小雨点 starting -->
        <activity
            android:name=".canvas_test.ZObliqueProgressActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".textView.TextViewActivity" />
        <!-- 热修复框架测试 starting -->
        <activity
            android:name=".android_hot_fix.AndroidHotfixActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!-- 热修复框架测试 ending -->
        <activity
            android:name=".project_testhouse.YituotuoEdittextActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ActivityAnimation.PhotoFragmentActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".request_demo.BaseActivity"></activity>
    </application>

</manifest>